# =========================
# .NET build output
# =========================
bin/
obj/

# =========================
# Visual Studio
# =========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# Rider / JetBrains
# =========================
.idea/
*.sln.iml

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Publish output
# =========================
publish/
